page-login {
    ion-content{
        background-image: url('../assets/img/bg_app.jpg');
    }

    #btn_close {
        color: black;
    }

    #logo {
        padding-top: 0px;
        padding-bottom: 60px;
    }
}
