page-home {
    .store_logo {
        position: relative;
        height: 100px;
        margin: auto;
        width: 100px;
        border-radius: 50%;
        top: -50px;
        z-index: 2;
        padding-bottom: 0px;
        border: 3px solid;
        border-color: grey;
    }

    .store_cover_div {
        z-index: 1;
        height: 100px;
        overflow: hidden;
    }

    .btn_follow {
        color: #5e95ef;
        background-color: transparent;
        border-color: #5e95ef;
        border: 1px solid;
        border-radius: 7px;
        width: 93%;
        margin-bottom: 10px;
    }

    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
    }

    .stars {
        font-size: 20px;
        color: #87c316;
    }

}
